.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.white-container.sign-in{
  width: 480px;
  height: 520px;
}

.white-container.sign-up{
  width: 480px;
  height: 600px;
}

.auth.input {
  width: 400px;
  height: 60px;
  font-size: 16px;
  margin: 20px 0;
  border: 2px solid #888;
  border-radius: 30px;
  padding: 0 20px;
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.1);
}

.auth.input:focus {
  border-color: #7218D1;
  box-shadow: 0 0 5px #7218D180;
  outline: none;
}

.auth-text {
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
  color: #333;
  padding-left: 46px;
}