.logo {
  width: 400px;
  margin: 0px;
  padding: 0px;
}

.large-button {
  width: 400px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.1);
}

.large-button.white {
  background-color: #eee;
  color: #333;
  border: 2px solid #888;
}

.large-button.white:hover {
  background-color: #e8e0f0;
  border: 2px solid #7218D1;
}

.large-button.purple {
  background-color: #7218D1;
  color: #eee;
}

.large-button.purple:hover {
  background-color: #8c3ddb;
}

.white-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px, 40px;
  background-color: #eee;
  /* White frame */
  border-radius: 30px;
  justify-content: top;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3);
}
