:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.theme {
  margin: 0;
  padding: 0;
  height: 100%;
}

.collapsed {
  display: none;
}

.toggle-button {
  display: none;
}

.documentGrid {
  justify-content: 'space-between';
}

.ag-cell-focus,.ag-cell-no-focus{
  border:none !important;
}
  
.ag-cell:focus {
  border:none !important;
  outline: none;
}

@media (max-width: 768px) {
  .collapsed {
    display: flex;
  }

  .toggle-button {
    display: block;
  }
}
