

:root {


  --primary-color: #7218D1;
  --secondary-color: #eee;
  --text-color: #333;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}